.background {
    --background: #eeeeee
}
.titulo{
    margin-left: 20px;
    margin-top: 20px;
}
.nomeSobrenome {
    display: flex;
    align-items: center;
    margin-top: 30%;
    flex: 1;
}
.campos1 {
    padding: 0px 10px;
    border-radius: 50px;
}
.campos2 {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
}
.cadastrar {
    margin-top: 85%;
}
.invalido {
    --ion-label {
        --color: #ff0000;
    }
    ion-input {
        border-bottom: 1px #ff0000;
    }
}