.background {
    // --background: url(../../assets/corcovado.jpg);
    --background: #eeeeee;
}
.nomeSobrenome {
    display: flex;
    align-items: center;
    margin-top: 30%;
    flex: 1;
}
.campos1 {
    padding: 0px 10px;
    border-radius: 50px;
}
.campos2 {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
}
.cadastrar {
    margin-top: 100%
}
.invalido {
    --ion-label {
        --color: red;
    }
    ion-input {
        border-bottom: 1px red;
    }
}