<div *ngIf="loading" class="loading"><ion-spinner color="secondary"></ion-spinner></div>
<div *ngIf="!loading" class="themeWrapper {{themeName}}">
  <ion-header>
    <div class="mainTitle">
      <ion-button (click)="goBack()" class="backButton"><fa-icon [icon]="faChevronLeft"></fa-icon></ion-button>
      <h1>{{placeObj.name}}</h1>
    </div>
    <div class="otherInfos">
      <div class="left">
        <p class="reviewInfo"><fa-icon [icon]="faThumbsUp"></fa-icon>75% das pessoas recomendam</p>
        <p><fa-icon [icon]="faMapMarkerAlt"></fa-icon>{{placeObj.address}}</p>
        <p *ngIf="placeObj.site"><fa-icon [icon]="faInfoCircle"></fa-icon>{{placeObj.site}}</p>
      </div>
      <div class="right">
        <fa-icon (click)="toggleFavorite()" [icon]="faHeart"></fa-icon>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button type="submit" [disabled]="reviewFormActive && reviewForm.invalid" (click)="fabClick(reviewForm)" >
        <fa-icon *ngIf="!reviewFormActive" [icon]="faCommentAlt"></fa-icon>
        <fa-icon *ngIf="reviewFormActive" [icon]="faCheck"></fa-icon>
      </ion-fab-button>
    </ion-fab>
    
    <img class="placeImage" src="http://localhost:8000/storage/place_{{placeObj.id}}.jpg"/>
    <div class="mainContent">
      <div *ngIf="!reviewFormActive" class="reviews">
        <h1>Avaliações (3)</h1>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
      </div>

      <div *ngIf="reviewFormActive" class="reviewForm">
        <h1>Escreva sua Avaliação</h1>
        <form [formGroup]="reviewForm" (ngSubmit)="submitForm(reviewForm)">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Comentário</ion-label>
              <ion-textarea formControlName="comment"></ion-textarea>
            </ion-item>
            
            <ion-radio-group formControlName="rating">
              <ion-item>
                <ion-label>Recomendo esse lugar</ion-label>
                <ion-radio slot="start" value="true"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Não Recomendo esse lugar</ion-label>
                <ion-radio slot="start" value="false" ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </form>
      </div>
    </div>
  </ion-content>
</div>