.background{
    --background: url(../../assets/corcovado.jpg);
}

.email{
    display: flex;
    margin-top: 140px;
    margin-left: 15px;
    margin-right: 15px;
    block-size: 60px;
    align-items: center;
}

.senha{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    block-size: 60px;
    align-items: center;
}   
.entrar{
    margin-left: 68%;
    margin-top: 5%;
}
.cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}



