.background{
    //terá outra imagem de background.
    --background: url("../../assets/background_login.jpg") no-repeat top right / cover;

}
.email{
    display: flex;
    margin-top: 140px;
    margin-left: 15px;
    margin-right: 15px;
    block-size: 60px;
    align-items: center;
    border-radius: 40px;
}
.senha{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    block-size: 60px;
    align-items: center;
    border-radius: 40px;
}   
.entrar{
    margin-left: 68%;
    margin-top: 5%;
}



