<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="email">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item class="senha">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" attribute="autocomplete"></ion-input>
  </ion-item>
  <ion-button class="entrar">Entrar</ion-button>
  <ion-button class="cadastrar">Cadastrar-se</ion-button>
</ion-content>

<!-- href="./app/cadastro.page.html" -->

