<ion-header>
</ion-header>

<ion-content class="background">
    <!-- iems responsáveis pelos 2 campos do formulário: email e senha -->
    <ion-item class="email">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item class="senha">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <!-- div responsável pelo botão de entrar -->
    <div class="entrar">
        <ion-button color="secondary">Entrar</ion-button>
    </div>
</ion-content>



<!-- <button (click)="openCamera()">
  Camera
</button>
<button (click)="openGallery()">
  galeria
</button>
<img src="{{myPhoto}}"> -->

