<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="campos">
    <ion-item class="login">
      <ion-label position="floating">Email</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item class="senha">
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="botoes_login">
  <ion-button>Cadastrar-se</ion-button>
  <ion-button>Entrar</ion-button>
  </div>
</ion-content>
