.placeFeaturedCard{
    position: relative;
    width: 120px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.placeFeaturedCard img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.placeName{
    display: flex;
    height: 35%;
    align-items: center;
    z-index: 2;
    padding: 0 5px;
}

.placeName h1{
    font-weight: bold;
    color: #fff;
    font-size: 19px;
    line-height: 21px;
    margin: 0;
    -webkit-transform: translateZ(0); //Bug no Chrome
    transform: translateZ(0); //Bug no Chrome
}

ion-ripple-effect{
    z-index: 10000;
}

.placeHolder img{
    filter: brightness(5);
    opacity: .57;
    object-fit: fill;
}

.placeHolder{
    background: #3A57E2;
}

.nature{
    background: #2C9A62;
}

.food{
    background: #D81B60;
}

.beach{
    background: #FFA000;
}

.culture{
    background: #AB47BC;
}