ion-content{
	display: flex;
	flex-flow: column;
	--background: url('../../assets/blue_background.jpg') 0 0/100% 100% no-repeat;
}

header{
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	flex: 0 0 50%;
	margin: 20px 0;
}

header h1{
	font-size: 40px;
	color: #fff;
	margin: 0;
}

header img{
	max-width: 70%;
}

.mainContent{
	flex: 0 0 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	margin: 5%;
}

.email{
    display: flex;
    margin-top: 35%;
    block-size: 60px;
    align-items: center;
    border-radius: 40px;
}

.senha{
    display: flex;
    margin-top: 10px;
    block-size: 60px;
    align-items: center;
    border-radius: 40px;
}   

.entrar{
    margin-left: 63%;
    margin-top: 10%;
    margin-right:5% 
}



