header{
  display: flex;
  padding: 17px 15px;
}

header h1{
  font-size: 30px;
  font-weight: bold;
  color: #15333B;
  margin: 0;
}

header h2{
  font-size: 18px;
  font-weight: lighter;
  color: rgba($color: #15333B, $alpha: .7);
  margin: 0;
}

header .right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  opacity: .5;
}

.catIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.catIcons .icon{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.catIcons .icon p {
  font-size: 13px;
  font-weight: 500;
  color: rgba(21, 51, 59, 0.87);
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
}

.catIcons ion-button{
  font-size: 24px;
  width: 50px;
  height: 50px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.catIcons .food{
  --color: #FF5964;
  --background: rgba(255, 89, 100, 0.2);
}

.catIcons .parks{
  --color: #00C853;
  --background: rgba(107, 241, 120, 0.2);
}

.catIcons .beach{
  --color: #F9A825;
  --background: rgba(254, 215, 102, 0.3);
}

.catIcons .culture{
  --color: #35A7FF;
  --background: rgba(53, 167, 255, 0.2);
}

.sectionTitle{
  display: flex;
  justify-content: space-between;
  margin: 17px 15px;
}

.sectionTitle h1{
  color: rgba(21, 51, 59, 0.87);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.sectionTitle h2{
  color: rgba(21, 51, 59, 0.70);
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.featuredPlaces{
  display: flex;
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
  align-items: center;
}

.featuredGuides{
  padding: 0 15px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}