<header>
  <div class="left">
    <h1>Bem-Vindo ao Rio</h1>
    <h2>{{weather.description}}, {{weather.temp}}°C</h2>
  </div>
  <div class="right">
    <fa-icon [icon]="weather.icon"></fa-icon>
  </div>
</header>

<ion-content>
  <div class="catIcons">
    <div class="icon">
      <ion-button class="parks" shape="round">
        <fa-icon [icon]="faTree"></fa-icon>
      </ion-button>
      <p>Parques</p>
    </div>
    <div class="icon">
      <ion-button class="food" shape="round">
        <fa-icon [icon]="faPizzaSlice"></fa-icon>
      </ion-button>
      <p>Comida</p>
    </div>
    <div class="icon">
      <ion-button class="beach" shape="round">
        <fa-icon [icon]="faUmbrellaBeach"></fa-icon>
      </ion-button>
      <p>Praias</p>
    </div>
    <div class="icon">
      <ion-button class="culture" shape="round">
        <fa-icon [icon]="faTheaterMasks"></fa-icon>
      </ion-button>
      <p>Cultura</p>
    </div>
  </div>

  <div class="sectionTitle">
    <h1>Lugares Recomendados</h1>
    <h2>Ver Todos</h2>
  </div>

  <section class="featuredPlaces">
    <app-place-featured *ngFor="let place of places" [placeObj]="place"></app-place-featured>
  </section>

  <div class="sectionTitle">
    <h1>Guias Recomendados</h1>
    <h2>Ver Todos</h2>
  </div>

  <section class="featuredGuides">
    <app-guide-card></app-guide-card>
    <app-guide-card></app-guide-card>
    <app-guide-card></app-guide-card>
  </section>

</ion-content>
