<ion-header>
  <ion-toolbar>
    <ion-title>Que tipo de usuário é você?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group>
    <ion-item>
      <ion-label>Turista</ion-label>
      <ion-radio slot="start" value="turista" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Guia de turismo</ion-label>
      <ion-radio slot="start" value="guia"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-button class="continuar" expand="full" color="primary">Continuar</ion-button>
</ion-content>
