<ion-card button>
  <ion-card-content>
    <div class="content">
      <div class="header">

        <div class="avatar">
          <img src="https://i.imgur.com/v2suX6R.jpg"/>
        </div>

        <div class="nameInfo">
          <h1>Claudia Miranda</h1>
          <h2>Guia Verificada</h2>
        </div>

        <div class="review">
          <fa-icon [icon]="faThumbsUp"></fa-icon>
          Recomenda
        </div>

      </div>
      <p class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum efficitur est sed eleifend. Duis orci neque, condimentum eu bibendum.</p>
    </div>
    </ion-card-content>
</ion-card>
