<ion-header>
</ion-header>

<ion-content class="background">
  <div class="nomeSobrenome">
    <ion-item class="nome">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="sobrenome">
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>
  <ion-item class="email">
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item class="senha">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item class="confirma_senha">      
    <ion-label position="floating">Confirme Sua Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item class="cpf">
    <ion-label position="floating">CPF</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item class="telefone">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <div class="cadastrar" color="primary">  
    <ion-button expand="full" href="http://localhost:8100/login">cadastrar</ion-button>
  </div>
</ion-content>
